/* CSS - Pagina principal  */
.containerMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

.card {
    width: 48%;
    margin-bottom: 20px;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    background-color: #f0f0f0;
}

.card:nth-child(odd) .card-body {
    background-color: #eaeaea;
}

.card h2 {
    margin: 0;
}

.card .btn {
    width: 100%;
}

.card .btn-container {
    margin-top: auto;
}

/* CSS - Menu interno  */

.menu {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
}

.menu-item {
    display: inline-block;
    margin-right: 20px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}
